@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  background-color: #110d47;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 120px;
}

#title {
  color: #ffffff;
}

.input {
  width: 80%;
}

.input-nhead {
  margin-top: 30px;
  width: 70%;
  height: 40px;
}

.list {
  width: 70%;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
